*{
  box-sizing: border-box;
}

body{
  font-family: 'Inter', sans-serif;
}

.App{
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height:100vh;
}




.navbar{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 2em;
}

.navbar img{
  max-width: 200px;
}

.links{
  display: flex;
  font-size: 1.5em;
  min-width: 20%;
  margin-top: 1em;
  padding: 0;
  gap: 1em;
  justify-content: space-between;

}

.link{
  text-decoration: none;
  color: white;
}

.link:hover{
  border-bottom: 2px gold solid;
  color: gold;
}

ul a{
  color: white;
  text-decoration: none;
}


.carousel{
  padding: 2em;
}

/* .carousel .left-arrow{
  position: absolute;
  top:45%;
  left:5%;
  font-size: 3rem;

}

.carousel .right-arrow{
  position: absolute;
  top: 45%;
  right: 5%;
  font-size: 3rem;
} */


.slide{
  opacity: 0;
  transition-duration: 1s ease ;
  transform: scale(.95);
}

.slide.active{
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1);
}

.carousel-img{
  width: 100%;
  display: block;
}

.footer{
  text-align: center;
  font-size: 1.25em;
}

.all-links{
  display: flex;
  justify-content: center;
  font-size: 2em;
  gap: 1em;
}

.about{
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
}

.about h1{
  font-size: 2.25rem;
}

.about h2{
  font-size: 2rem;
}

.about .about-section{
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.about-section img{
  width: 30%;
}

.about-section p, .about-para{
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 1.5px;
}


  .footer{
    padding: 2em;
    margin-top: 2em;
  }

 .footer a{
   text-decoration: none;
   color: white;
   transform: scale(1);
   
   transition: 500ms transform  ease-in-out;
   
 }

 .footer a:hover{
  text-decoration: none;
  color: gold;
  transform: scale(1.1);
}

 .about-head{
   padding-top: 1.5em;
   text-decoration:underline solid rgba(255, 217, 0, 0.53);
 }

 .contact form {
   font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  max-width: 500px;
  margin: 0 auto;
 }

 form input, form textarea{
  font-size: 1.125rem;
   display: block;
   width: 100%;
   background-color: rgb(41, 41, 41);
   color: white;
   border:none;
   padding: .5em 1em;
 }

 form input[type=submit]{
   background-color: gold;
   color: black;
 }

 form input[type=submit]:hover{
  background-color: rgba(255, 217, 0, 0.612);
  color: black;
  cursor: pointer;
}