*{
  box-sizing: border-box;
  transition: 250ms color linear;
}

body{
  font-family: 'Inter', sans-serif;
}

.App{
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height:100vh;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 2em;
}



.navbar img{
  max-width: 200px;
}

.hamburger-icon{  
  align-self: center;
  font-size: 2.25rem;
  display: none;
}

.cancel-icon{
  align-self: center;
  font-size: 2.25rem;
  position: fixed;
  z-index: 10;
  display: none;
}



.links{
  display: flex;
  font-size: 1.5em;
  min-width: 20%;
  margin-top: 1em;
  padding: 0;
  gap: 1em;
  justify-content: space-between;

}

.link{
  text-decoration: none;
  color: white;
  transition: 250ms border-bottom linear;
}

.link:hover{
  border-bottom: 2px gold solid;
  color: gold;
}

ul a{
  color: white;
  text-decoration: none;
}

.home-images{
  display: flex;
  justify-content: space-between;
  gap: 1em;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1em;
}

.carousel{
  padding: 2em;
}

/* .carousel .left-arrow{
  position: absolute;
  top:45%;
  left:5%;
  font-size: 3rem;

}

.carousel .right-arrow{
  position: absolute;
  top: 45%;
  right: 5%;
  font-size: 3rem;
} */


.slide{
  opacity: 0;
  transition-duration: 1s ease ;
  transform: scale(.95);
}

.slide.active{
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1);
}

.carousel-img{
  width: 100%;
  display: block;
}

.footer{
  text-align: center;
  font-size: 1.25em;
}

.all-links{
  display: flex;
  justify-content: center;
  font-size: 2em;
  gap: 1em;
}

.about{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1em;
}

.about h1{
  margin-top:0;
  font-size: 2.25rem;
}

.about h2{
  font-size: 1.2rem;
  margin-top:0;
}

.about .about-section{
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.about-section img{
  width: 30%;
}

.about-section p, .about-para{
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

.about-sub-section h1{
  margin:0;
}

  .footer{
    padding: 2em;
    margin-top: 2em;
  }

  .footer .mail{
    color: white;
    text-decoration: none;
  }

  .footer .mail:hover{
    color: gold;
  }

  .all-links{
    margin-top:.4em;
  }

 .all-links a{
   text-decoration: none;
   color: white;
   transform: scale(1);   
   transition: 500ms transform  ease-in-out;   
 }

 .all-links a:hover{
  text-decoration: none;
  color: gold;
  transform: scale(1.1);
}

 .about-head{
   padding-top: 1em;
   text-decoration:underline solid rgba(255, 217, 0, 0.53);
 }

 .contact form {
   font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  max-width: 500px;
  margin: 0 auto;
 }

 form input, form textarea{
  font-size: 1.125rem;
   display: block;
   width: 100%;
   background-color: rgb(41, 41, 41);
   color: white;
   border:none;
   padding: .5em 1em;
 }

 form input[type=submit]{
   background-color: gold;
   color: black;
 }

 form input[type=submit]:hover{
  background-color: rgba(255, 217, 0, 0.612);
  color: black;
  cursor: pointer;
}

.sub-header{
 font-size: 2rem;
 transition: 250ms color linear;
 margin-bottom: 0;
}

.sub-header:hover{
  color: gold;
 }

 .proj-types{
   display: flex;
   justify-content: space-evenly;
   font-size: 1.25rem;
   padding: 1em;
   margin: 1em 0;
   background-color: rgba(255, 255, 255, 0.305);
 }

 .proj-photos{
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;   
 }

 .proj-photo{
   flex: 1 1 250px;
 }

 .proj-photo img{
   width: 300px;
   height: 200px;
   object-fit: cover;
 }


 /* image viewer */

 .viewer{
   visibility: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   top:0;
   left:0;
   z-index: 999;
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.59);
   transition: opacity .5s ease,transform .5s ease,overflow .5s ease-in-out;
   opacity: 0;
   transform: scale(0);
   overflow: hidden;
 }

 .viewer.show{
   visibility: visible;
  opacity: 1;
  transform: scale(1);
 }

 .viewer img{
   max-width: 90%;
   max-height: 90%;
   box-sizing: border-box;
 }

 .close-icon{
   position: fixed;
   right:1rem;
   top:-2rem;
   font-size: 2.25rem;
   color: white;
 }


 @media(max-width:600px){
  .links{
    padding-top: 3em;
    position: fixed;
    background-color: #302f2fcc ;
    
    left: 120%;
    right:0;
    top: 0;
    bottom: 0;
    z-index: 10;
    transition: left 250ms cubic-bezier(.5, 0, .5, 1);
}

.hamburger-icon{
  display: block;
}

.open-bar .cancel-icon{
  display: block;
  position: fixed;
  right:.5rem;
  top:.5rem;
  z-index: 11;
}

.open-bar .links{
  left:70%;
  top: -2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.about .about-section{
  flex-direction: column;
  align-items: center;
  margin-bottom:0;
}
.about-section img{
  width: 90%;  
}
.footer{
  margin-top:0;
  padding:1em;
}
}